*{
    padding: 0;
    margin: 0;
}

body {
    background: radial-gradient(blue, purple);
    display: flex;
    flex-direction: column;
    align-items: center;
        font-family: "Edu AU VIC WA NT Pre", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
}

img{
    width: 6%;
    margin: 15px;
}

ul{
    background-color: black;
    color: green;
    padding: 30px;
    margin: 15px;
}